<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">Solo Traveler Media</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/#mission' | relative_url }}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/#whatwedo' | relative_url }}">What We Do</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/#properties' | relative_url }}">Properties</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/blog/' | relative_url }}">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/#contact' | relative_url }}">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
